.tool-tip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to left, #361f61, #1e1e36);
  color: white;
  padding: 20px;
  height: 100%;
  width: 17.5%;
}

.useful-commands-header {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 30px;
  border-bottom: 1px solid #ccc!important;
}

.commands {
  display: flex;
  flex-direction: column;
  margin-bottom: 50%;
}

.commands h2 {
  float: left;
  font-size: 18px;
}

.commands ul li {
  padding: 5px;
  font-size: 18px;
}
@media (min-width: 320px) and (max-width: 1200px) {
  .tool-tip-container {
    display: none;
  }
}
