.form {
  display: flex;
  border-top: 2px solid #fcd8f7;
}

.input {
  border: none;
  border-radius: 4px;
  padding: 3.5%;
  width: 82%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.send-button {
  color: #fff !important;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background: #c31fff;
  padding: 10px;
  display: inline-block;
  border: none;
  width: 18%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .send-button {
    font-weight: 500;
    font-size: 15px;
  }
}
