.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #c31fff;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
  font-size: 20px;
}

.left-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}


.activeIcon {
  margin-right: 5%;
}
