.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #8d53fa;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 30px;
}

.left-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white !important;
}

@media (min-width: 320px) and (max-width: 480px) {
  h3 {
    font-size: 18px;
  }
}
